<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<div class="flex align-items-center justify-content-center" style="min-height: calc(100vh - 100px);">
    <div class="card">
        <div class="card p-d-flex">
            <div class="grid" style="text-align: center;">
                <div class="col-12">
                    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                        <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"></agm-marker>
                    </agm-map>

                    <h5>Address: {{address}}</h5>
                    <div>Latitude: {{latitude}}</div>
                    <div>Longitude: {{longitude}}</div>

                </div>
            </div>
        </div>
    </div>
</div>