<div class="flex align-items-center justify-content-center" style="min-height: calc(100vh - 100px);">
    <div class="card">
        <div class="card p-d-flex">
            <div class="grid" style="text-align: center;">
                <div class="col-12">
                    <b>จุดสแกน : </b>
                </div>
                <div class="col-12">
                    <div class="p-ml-2">ละติจูต : {{this.latitude}} | ลองติจูต : {{longitude}}</div>
                </div>
            </div>

            <div class="grid" style="text-align: center;">
                <div class="col-12">
                    <b>ระยะห่าง : {{point}} </b>
                </div>
            </div>
            <div class="grid" style="text-align: center;">
                <div class="col-12">
                    <b>ตรวจสอบพิกัด : {{precise}} </b>
                </div>
            </div>
            <div class="grid" style="text-align: center;margin: 5px;">
                <div class="col-12" style="text-align: center;">
                    <button pButton type=" button" (click)="getAddressPromise('0')" class="p-button-info">
                        Curren Location...</button>
                </div>
            </div>
        </div>

        <div class="card p-d-flex" *ngIf="loadchk" style="margin-top: 20px;">
            <div class="grid" style="text-align: center;">
                <div class="col-12">
                    <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner"
                        strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>

                </div>
            </div>
        </div>

    </div>
</div>