:host ::ng-deep .card-container .card {
  width: 124px;
  height: 124px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  user-select: none;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 2rem;
  padding: 0;
  background-color: var(--surface-e);
}
:host ::ng-deep .card-container .card.primary-box {
  background-color: var(--primary-color);
  padding: 0;
  color: var(--primary-color-text);
}
:host ::ng-deep .card-container .card.in-box {
  background: #cce5ff;
  border: solid #b8daff;
  border-width: 1px;
  color: #004085;
}
:host ::ng-deep .card-container .card.out-box {
  background: #d4edda;
  border: solid #c3e6cb;
  border-width: 1px;
  color: #155724;
}
:host ::ng-deep .card-container .card.styled-box-green .p-ink {
  background: rgba(75, 175, 80, 0.3);
}
:host ::ng-deep .card-container .card.styled-box-orange .p-ink {
  background: rgba(255, 193, 6, 0.3);
}
:host ::ng-deep .card-container .card.styled-box-purple .p-ink {
  /* background-color: var(--primary-color);
  background: rgba(156, 39, 176, 0.3); */
  background-color: var(--primary-color);
  padding: 0;
  color: var(--primary-color-text);
}
:host ::ng-deep .card-container .card:last-child {
  margin-right: 0;
}
:host ::ng-deep .p-avatar img {
  /* border: 1px solid #dad0d0; */
  /* background: url(img/duck.png) no-repeat; */
  /* -moz-box-shadow: 0px 6px 5px #ccc; */
  /* -webkit-box-shadow: 0px 6px 5px #ccc; */
  /* box-shadow: 0px 6px 5px #ccc; */
  /* -moz-border-radius: 190px; */
  /* -webkit-border-radius: 190px; */
  /* border-radius: 190px; */
}

:host ::ng-deep .custom-spinner .p-progress-spinner-circle {
  animation: custom-progress-spinner-dash 1.5s ease-in-out infinite,
    custom-progress-spinner-color 6s ease-in-out infinite;
}

@keyframes custom-progress-spinner-color {
  100%,
  0% {
    stroke: #16697a;
  }
  40% {
    stroke: #489fb5;
  }
  66% {
    stroke: #82c0cc;
  }
  80%,
  90% {
    stroke: #ffa62b;
  }
}

@keyframes custom-progress-spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
