<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<div class="flex align-items-center justify-content-center" style="min-height: calc(100vh - 100px);">
    <div class="card">
        <div class="card p-d-flex">
            <div class="grid" style="text-align: center;">
                <div class="col-12">
                    <label for="avatar">
                        <p-avatar image={{pictureUrl}} styleClass="p-mr-2 w-7rem h-7rem" size="xlarge" shape="circle">
                        </p-avatar>

                    </label>
                </div>
            </div>
            <div class="grid" style="text-align: center;">
                <div class="col-12">
                    <label for="avatar">
                        <i class="pi pi-user" style="color: palevioletred;"></i>&nbsp; {{displayName}}
                    </label>
                </div>
            </div>
        </div>

        <div class="card-container p-d-flex">
            <div class="grid" style="text-align: center;">
                <div class="col-6">
                    <div class="card in-box" pRipple (click)="getAddressPromise(0)">
                        <div class="grid" style="margin-top: 20px;">
                            <div class="col-12">
                                <i class="pi pi-sign-in" style="font-size: 32px;"></i>
                            </div>
                            <div class="col-12">
                                <label style="font-size: 24px;">เข้างาน</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card out-box" pRipple (click)="getAddressPromise(1)">
                        <div class="grid" style="margin-top: 20px;">
                            <div class="col-12">
                                <i class="pi pi-sign-out" style="font-size: 32px;"></i>
                            </div>
                            <div class="col-12">
                                <label style="font-size: 24px;">ออกงาน</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>