<div class="card">
    <div class="flex align-items-center justify-content-center flex-wrap card-container yellow-container"
        style="min-height: 100vh">

        <div class="flex align-content-center justify-content-center flex-wrap card-container" style="max-width: 300px">

            <div class="flex align-items-center justify-content-center flex-wrap m-2" style="min-width: 256px; ">
                <div class="p-d-flex p-flex-column">
                    <label for="avatar">
                        <p-avatar image={{pictureUrl}} styleClass="p-mr-2 w-7rem h-7rem" size="xlarge" shape="circle">
                        </p-avatar>

                    </label>
                </div>
            </div>

            <div class="flex align-items-center justify-content-center flex-wrap m-2" style="min-width: 256px; ">
                <div class="p-d-flex p-flex-column">
                    <label for="displayName" style="color:palevioletred;font-weight: bold;">
                        {{displayName}}
                    </label>
                </div>
            </div>

            <!-- <div class="flex align-items-center justify-content-center flex-wrap m-2" style="min-width: 128px; ">
                <div class="card styled-box-orange" pRipple style="text-align: center;" (click)="getLocaton()"
                    onclick="window.location='https://line.me/R/nv/QRCodeReader'">
                    <div class="p-d-flex p-flex-column">
                        <div class="p-mb-2"><i class="pi pi-sign-in" style="font-size: 3rem;color:palevioletred"></i>
                        </div>
                        <div class="p-mb-2" style="font-size: 2rem;color:palevioletred">เข้า</div>
                    </div>
                </div>
            </div>
            <div class="flex align-items-center justify-content-center flex-wrap  m-2" style="min-width: 128px;">
                <div class="card styled-box-orange" pRipple style="text-align: center;" (click)="getLocaton()"
                    onclick="window.location='https://line.me/R/nv/QRCodeReader'">
                    <div class="p-d-flex p-flex-column">
                        <div class="p-mb-2"><i class="pi pi-sign-out" style="font-size: 3rem;color:palevioletred"></i>
                        </div>
                        <div class="p-mb-2" style="font-size: 2rem;color:palevioletred">ออก</div>
                    </div>
                </div>
            </div> -->
            <div class="flex align-items-center justify-content-center flex-wrap m-2" style="min-width: 256px; ">
                <div class="p-d-flex p-flex-column">
                    <label for="displayName" style="color:palevioletred;font-weight: bold;">
                        Lat : {{lat}} | Lng : {{lng}}
                    </label>
                </div>
            </div>
            <div class="flex align-items-center justify-content-center flex-wrap m-2" style="min-width: 256px; ">
                <div class="p-d-flex p-flex-column">
                    <label for="displayName" style="color:palevioletred;font-weight: bold;">
                        statusParam : {{statusParam}} | locationParam : {{locationParam}}
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>