<div class="flex align-items-center justify-content-center" style="min-height: calc(100vh - 100px);">
    <div class="card">
        <div class="grid" style="text-align: center;">
            <div class="col-12">
                <label for="avatar" (click)="showLocation(loadLocation)">
                    <p-avatar image={{pictureUrl}} styleClass="p-mr-2 w-7rem h-7rem" size="xlarge" shape="circle">
                    </p-avatar>

                </label>
            </div>
        </div>
        <div class="grid" style="text-align: center;">
            <div class="col-12">
                <label for="displayName">
                    {{displayName}}
                </label>
            </div>
        </div>
        <div class="grid" style="text-align: center;" *ngIf="loadLocation">
            <div class="col-12">
                <p-messages severity="info">
                    <ng-template pTemplate>
                        <span class="custom-message" style="width: 100%;">
                            <div class=" grid">
                                <div class="col-12 font-bold">
                                    <i class="pi pi-info-circle" style="font-size: 2em;"></i> ตรวจสอบ
                                </div>
                            </div>
                            <div class="grid">
                                <div class="col-12">

                                    ละติจูด : {{latitude}} | ลองติจูด : {{longitude}}

                                </div>
                            </div>
                            <div class="grid">
                                <div class="col-12">
                                    รัศมี : {{point}}
                                </div>
                            </div>
                            <div class="grid">
                                <div class="col-12">
                                    ระยะห่าง : {{precise}}
                                </div>
                            </div>
                        </span>
                    </ng-template>
                </p-messages>
            </div>
        </div>


        <div class="grid" style="text-align: center;" *ngIf="point;else other_content">
            <div class="col-12">
                <p-messages severity="success">
                    <ng-template pTemplate>
                        <span class="custom-message" style="width: 100%;">
                            <div class="grid">
                                <div class="col-12 font-bold">
                                    <i class="pi pi-question-circle" style="font-size: 2em;"></i> สำเร็จ
                                </div>
                            </div>
                            <div class="grid">
                                <div class="col-12">
                                    สถานะ : {{statusParam}}
                                </div>
                            </div>
                            <div class="grid">
                                <div class="col-12">
                                    จุดสแกน : ศูนย์คอมพิวเตอร์ {{locationParam}}
                                </div>
                            </div>
                        </span>
                    </ng-template>
                </p-messages>
            </div>
        </div>

        <div class="grid" style="text-align: center;">
            <div class="col-12">
                <ng-template #other_content>
                    <p-messages severity="warn">
                        <ng-template pTemplate>
                            <span class="custom-message" style="width: 100%;">
                                <div class="grid">
                                    <div class="col-12 font-bold" style="text-align: center;">
                                        <i class="pi pi-question-circle" style="font-size: 2em;"></i> แจ้งเตือน
                                    </div>
                                </div>
                                <div class="grid">
                                    <div class="col-12" style="text-align: center;">
                                        กรุณาตรวจสอบระยะห่างระหว่างจุดสแกน.
                                    </div>
                                </div>
                            </span>
                        </ng-template>
                    </p-messages>
                </ng-template>
            </div>
        </div>

        <div class="grid" style="text-align: center;">
            <div class="col-12">
                <!-- onclick="window.location.href='https://line.me/R/nv/QRCodeReader'" -->
                <button pButton pRipple type="button" icon="pi pi-camera" class="p-button-rounded p-button-info"
                    (click)="getAddressPromise()"></button>
            </div>
        </div>

    </div>
</div>