<p-messages severity="warn">
    <ng-template pTemplate>
        <span class="custom-message">
            <div class="grid">
                <div class="col-12 font-bold" style="text-align: center;">
                    <i class="pi pi-question-circle" style="font-size: 2em;"></i> แจ้งเตือน
                </div>
            </div>

            <div class="grid">
                <div class="col-12" style="text-align: center;">
                    ระบบไม่รองรับการทำงานผ่านหน้าเว็บ ขออภัยในความไม่สะดวก.
                </div>
            </div>
        </span>
    </ng-template>
</p-messages>