<div class="flex align-items-center justify-content-center" style="min-height: calc(100vh - 100px);">
    <div class="card" *ngIf="loadchk">
        <div class="card p-d-flex" style="margin-top: 20px;">
            <div class="grid" style="text-align: center;">
                <div class="col-12">
                    <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner"
                        strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>

                </div>
            </div>
        </div>
    </div>
    <div class="card" *ngIf="!loadchk">
        <div class="grid" style="text-align: center;">
            <div class="col-12">
                <label for="avatar">
                    <p-avatar image={{pictureUrl}} styleClass="p-mr-2 w-7rem h-7rem" size="xlarge" shape="circle">
                    </p-avatar>

                </label>
            </div>
        </div>
        <div class="grid" style="text-align: center;">
            <div class="col-12">
                <label for="avatar">
                    <i class="pi pi-user" style="color: palevioletred;"></i>&nbsp; {{displayName}}
                </label>
            </div>
        </div>
        <div class="grid" style="text-align: center;">
            <div class="col-12">
                <label for="avatar">
                    <i class="pi pi-book" style="color: palevioletred;"></i>&nbsp; {{name}}
                </label>
            </div>
        </div>
        <div class="grid" style="text-align: center;">
            <div class="col-12">
                <label for="avatar">
                    <i class="pi pi-map-marker" style="color: palevioletred;"></i>&nbsp; {{badgenumber}}
                </label>
            </div>
        </div>
        <div class="grid" style="text-align: center;">
            <div class="col-12">
                <label for="avatar">
                    <i class="pi pi-phone" style="color: palevioletred;"></i>&nbsp; {{phone}}
                </label>
            </div>
        </div>
    </div>
</div>