<div class="card">
    <div class="flex align-items-center justify-content-center flex-wrap card-container yellow-container"
        style="min-height: 100vh">
        <div class="flex align-items-center justify-content-center text-gray-900 border-round">
            <div class="card">

                <div class="flex align-items-center justify-content-center field">
                    <label for="avatar">
                        <p-avatar image={{pictureUrl}} styleClass="p-mr-2 w-7rem h-7rem" size="xlarge" shape="circle">
                        </p-avatar>

                    </label>
                </div>

                <div class="field " style="margin-top: 32px;">
                    <div class="card">
                        <div class="flex align-items-center justify-content-center field">
                            <label for="avatar">
                                <i class="pi pi-user"></i>&nbsp; {{name}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="field ">
                    <div class="card">
                        <div class="flex align-items-center justify-content-center field">
                            <label for="avatar">
                                <i class="pi pi-phone"></i>&nbsp; {{phone}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="field ">
                    <div class="card">
                        <div class="flex align-items-center justify-content-center field">
                            <!-- <label for="avatar">
                                ลงทะเบียนเรียบร้อย
                            </label> -->
                            <button [style]="{width: '100%'}" pButton type="submit" label="ลงทะเบียนเรียบร้อย"
                                class="p-button-success p-button-rounded"></button>
                        </div>
                    </div>
                </div>

                <div class="field ">
                    <div class="card">
                        <div class="flex align-items-center justify-content-center field">
                            <button [style]="{width: '100%'}" pButton (click)="closeWindow()" label="ปิดหน้าต่าง"
                                class="p-button-danger p-button-rounded"></button>
                        </div>
                    </div>
                </div>


                <div class="field " style="margin-top: 32px;">
                    <div class="card">
                        <div class="flex align-items-center justify-content-center field">
                            <label for="avatar">
                                Version : {{version}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>