<div class="flex align-items-center justify-content-center" style="min-height: calc(100vh - 100px);">
    <div class="card">
        <div class="grid" style="text-align: center;">
            <div class="col-12">
                <label for="avatar">
                    <p-avatar image={{pictureUrl}} styleClass="p-mr-2 w-7rem h-7rem" size="xlarge" shape="circle">
                    </p-avatar>
                </label>
            </div>
        </div>
        <div class="grid" style="text-align: center;">
            <div class="col-12">
                <label for="displayName">
                    {{displayName}}
                </label>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="field">
                        <span class="p-float-label">
                            <p-autoComplete [style]="{width: '100%'}" 
                                [(ngModel)]="selectedCountryAdvanced"
                                [suggestions]="filteredCountries" 
                                (completeMethod)="filterCountry($event)" 
                                field="name"
                                [dropdown]="true" 
                                formControlName="fullname">
                                <ng-template let-country pTemplate="item">
                                    <div class="country-item">
                                        <div>{{country.name}}</div>
                                    </div>
                                </ng-template>
                            </p-autoComplete>

                            <label for="float-input">ชื่อ - สกุล</label>
                        </span>
                    </div>
                    <div class="field">
                        <span class="p-float-label">
                            <!-- <input id="float-input" type="text" pInputText> -->
                            <p-inputMask [style]="{width: '100%'}" mask="(999) 999-9999" formControlName="phone"
                                minlength="10">
                            </p-inputMask>

                            <label for="float-input">เบอร์โทร</label>
                        </span>
                    </div>
                    <div class="field">
                        <button [style]="{width: '100%'}" pButton type="submit" label="ลงทะเบียน"
                            [disabled]="!loginForm.valid" class="p-button-raised p-button-rounded"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>