<div class="flex align-items-center justify-content-center" style="min-height: calc(100vh - 100px);">
    <div class="card">
        <div class="grid" style="text-align: center;">
            <div class="col-12">
                <label for="avatar">
                    <p-avatar image={{pictureUrl}} styleClass="p-mr-2 w-7rem h-7rem" size="xlarge" shape="circle">
                    </p-avatar>
                </label>
            </div>
        </div>
        <div class="grid" style="text-align: center;">
            <div class="col-12">
                <label for="displayName">
                    {{displayName}}
                </label>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <p-table [value]="products" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Quantity</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td>{{product.code}}</td>
                            <td>{{product.name}}</td>
                            <td>{{product.quantity}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>