<div class="card">
    <div class="flex align-items-center justify-content-center flex-wrap card-container yellow-container"
        style="min-height: 100vh">

        <div class="flex align-content-center justify-content-center flex-wrap card-container" style="max-width: 300px">

            <div class="flex align-items-center justify-content-center flex-wrap m-2" style="min-width: 256px; ">
                <div class="p-d-flex p-flex-column">
                    <label for="avatar">
                        <p-avatar image={{pictureUrl}} styleClass="p-mr-2 w-7rem h-7rem" size="xlarge" shape="circle">
                        </p-avatar>

                    </label>
                </div>
            </div>

            <div class="flex align-items-center justify-content-center flex-wrap m-2" style="min-width: 256px; ">
                <div class="p-d-flex p-flex-column">
                    <label for="displayName">
                        {{displayName}}
                    </label>
                </div>
            </div>

            <div class="flex align-items-center justify-content-center flex-wrap m-2" style="min-width: 128px; ">
                <div class="card primary-box" pRipple style="text-align: center;">
                    <div class="p-d-flex p-flex-column">
                        <table>
                            <thead>
                                <th>จุดสแกน</th>
                                <th>วัน/เวลา</th>
                                <th>สถานะ</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> ศูนย์คอมพิวเตอร์</td>
                                    <td> 27/08/2021 | 08.20</td>
                                    <td> เข้า</td>
                                </tr>
                                <tr>
                                    <td> ศูนย์คอมพิวเตอร์</td>
                                    <td> 27/08/2021 | 16.20</td>
                                    <td> เข้า</td>
                                </tr>
                                <tr>
                                    <td> ศูนย์คอมพิวเตอร์</td>
                                    <td> 26/08/2021 | 08.20</td>
                                    <td> เข้า</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="field ">
                <div class="card">
                    <div class="flex align-items-center justify-content-center field">
                        <button [style]="{width: '100%'}" pButton (click)="closeWindow()" label="ปิดหน้าต่าง"
                            class="p-button-danger p-button-rounded"></button>
                    </div>
                </div>
            </div>

            <div class="flex align-items-center justify-content-center flex-wrap m-2" style="min-width: 256px; ">
                <div class="p-d-flex p-flex-column">
                    <label for="displayName" style="margin-top: 30;">
                        Version : {{version}}
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>