<div class="flex align-items-center justify-content-center" style="min-height: calc(100vh - 100px);">
    <div class="card">
        <div class="grid" style="text-align: center;">
            <div class="col-12">
                <label for="avatar">
                    <p-avatar image={{pictureUrl}} styleClass="p-mr-2 w-7rem h-7rem" size="xlarge" shape="circle">
                    </p-avatar>
                </label>
            </div>
        </div>
        <div class="grid" style="text-align: center;font-weight: bold;">
            <div class="col-12">
                <label for="displayName">
                    {{displayName}}
                </label>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <p-table [value]="scanlists"
                 styleClass="p-datatable-sm" 
                [scrollable]="true" 
                [loading]="scanlistload" >
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="font-weight: bold;">วันเวลา</th>
                            <th style="font-weight: bold;">จุดสแกน</th>
                            <th style="flex: 0 0 4rem"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-scanlist let-index="rowIndex">
                        <tr>
                            <td>{{scanlist.checktime | date: "dd/MM/yyyy HH:mm:ss"}}</td>
                            <td>{{scanlist.scan_location}}</td>
                            <td style="flex: 0 0 4rem">

                                <button pButton pRipple type="button" icon="pi pi-sign-in"
                                    class="p-button-sm  p-button-text" *ngIf="scanlist.checktype==0" pTooltip="เข้างาน"
                                    tooltipPosition="left" tooltipEvent="focus"></button>

                                <button pButton pRipple type="button" [icon]="'pi pi-sign-out'"
                                    class="p-button-sm p-button-text" *ngIf="scanlist.checktype==1" pTooltip="ออกงาน"
                                    tooltipPosition="left" tooltipEvent="focus"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>